<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
function enter_columns(data){
	//alert(data);
	var col = data["quantitative"].concat(data["qualitative"])
	for(var i = 0; i < col.length ;i++){
		//alert(col[i]);
		$('#sel1').append('<option value="' + col[i] + '">' + col[i] + '</option>');
		$('#sel2').append('<option value="' + col[i] + '">' + col[i] + '</option>');
	}
	$('#sel1').change(function () {
            $('#msg1').text('Selected Column for X-axis: ' + this.options[this.selectedIndex].text);
     });
	 
	 $('#sel2').change(function () {
            $('#msg2').text('Selected Column for Y-axis: ' + this.options[this.selectedIndex].text);
     });
}

function plot_graph(getdata,lbls,colName)
{
  Chart.defaults.global.defaultFontFamily = 'Lato';
              Chart.defaults.global.defaultFontSize = 18;
              Chart.defaults.global.defaultFontColor = '#777';
              Chart.scaleService.updateScaleDefaults('linear', {
    ticks: {
        min: 0
    }
});
              let barChart = new Chart(myChart, {
                type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data:{
                  labels:lbls,
                  datasets:[{
                    label:colName,
                    data:getdata,
                    backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
                ],
            }]
                },
                options:{
                  title:{
                    display:true,
                    text: colName,
                    fontSize:25
                  },
                  legend:{
                    display:true,
                    position:'right',
                    labels:{
                      fontColor:'#000'
                    }
                  },
                  layout:{
                    padding:{
                      left:50,
                      right:0,
                      bottom:0,
                      top:0
                    }
                  },
                  tooltips:{
                    enabled:true
                  }
                }
              });
}

$(document).ready(function () {
		console.log("reached barchart")
		$.getJSON("{% url 'COLUMNS' %}", function(data, status, xhr){
			console.log(JSON.parse(data))
			enter_columns(JSON.parse(data));
		});
});

 $("#form1").on('submit', function(e){
        e.preventDefault();
        console.log('form has been submitted');
        var form_data = new FormData(this);
		    x=this["x-value"].value;
        console.log(x)
		    y=this["y-value"].value;
        var colName, getdata, lbls;
        
        document.getElementById("myChart").remove();
            var c=document.createElement("canvas");
            c.id="myChart";
            c.height=500;
            c.width=500;
            document.getElementById("ChartHere").appendChild(c);
            var myChart = document.getElementById("myChart").getContext('2d');

        if(localStorage.getItem(x))
        {
          console.log("from localStorage")
          colName=x;
          console.log(localStorage.getItem(x),typeof(localStorage.getItem(x)))
          lbls=JSON.parse(localStorage.getItem(x))[0];
          getdata=JSON.parse(localStorage.getItem(x))[1];
          console.log(lbls)
          console.log(getdata)
          plot_graph(getdata,lbls,colName)
        }
        else{
          $.ajax({
          url: "{% url 'DATA-SEND-CATEGORICAL' %}",
          type: "POST",
          contentType: false,
          processData: false,
          data: form_data,
          success: function(data){
            console.log("contacting server");


            
            console.log("enter bar");
            var resp = JSON.parse(data);
            resp=JSON.parse(resp);
            
            
            for(i in resp)
            {
              if(!i.endsWith("_frequency"))
              {
                getdata = resp[i+"_frequency"]; 
                console.log(getdata+typeof(getdata));
                lbls = resp[i];
                if(!localStorage.getItem(i))
                {
                  localStorage.setItem(i,JSON.stringify([lbls,getdata]))
                  console.log("set");
                }
              }
              console.log(i);
            }
            lbls = resp[x];
            getdata = resp[x+"_frequency"]
            //var lbls = ["class 1","class 2","class 3","class 4","class 5","class 6"]
            colName = x;
            plot_graph(getdata,lbls,colName)


              // Global Options
              
        }
      	});
        }
        
        
		});
        



</script>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
<body id = "body" ng-app="">
<h1>BARCHART</h1>
<!-- vertical tab-->
		<form id = "form1" method = "POST" name="myForm" >
				{% csrf_token %}
				<select id="sel1" class="custom-select" style="width:200px;" name = "x-value" required>
				<option value="">X-axis</option>
				</select>
				</div>
				
				<p id="msg1"></p>
				
				<div>
				<select id="sel2" class="custom-select" style="width:200px;" name = "y-value">
				<option value="">Y-axis</option>
				</select>
				</div>

				<p id="msg2"></p><br/><br/><br/><br/><br/><br/>
				<button class="button5" style="width:200px;">Submit</button>	
		</form>
    	<div class="card" id="slider_output" style="display:none">
              
        </div>
         
        
        
        
        
</body>
</html>